@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');



* {
  box-sizing: border-box;
}

body {
  margin: 0;
  /* background-color: #3e4949; */
  background-color: #121212;
  font-family: 'Inter', sans-serif;
}

html {
  font-size: calc(60% + 0.8vmin);
}

main {
  max-width: 40rem;
  margin: 0 auto;
}