@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  /* background-color: #3e4949; */
  font-family: 'Inter', sans-serif;
  min-height: 100vh;
}

footer {
  margin-top: auto;
}

html {
  font-size: calc(60% + 0.8vmin);
}
